h1 {
	color: orange;
	text-align: center;
	font-size: 170%;
}
h2 { 
	color: green;

}

h3 {
	colour: purple;
	font-size: 135%;
}
h4 {
	bold;
	font-size: 160%;
}
p {
	font-size: 110%;

}

#intro {

}

#body {

}

.first {
	font-size: 200%;
}

#intro .first {
	color: blue;
}

#intro .first em {
	color: red;
}

#form_eg {

}

#image_text {
	text-align: center;
	color: green;
	padding: 15px;
}

head {
	border-style: solid solid none solid;
	border-color: blue;
}

body {
	border-style: none solid solid solid;
	border-color: blue;
}

table {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 50%
}

td, th {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 5px;
}

th {
	background-color: grey;
	text-align: center;
}

td {
	text-align: center;
	background-color: gray;
}

#image1 {
	padding: 15px;
}

#body2 {
	text-align: center;
}

#return_home {
	font-size: 120%;
}